transformers
torch
sentence-transformers
faiss-cpu
pyttsx3
simpleaudio
TTS==0.22.0
PyYAML
openai-whisper
speechrecognition
sounddevice
scipy
numpy
faster-whisper
vispy
pyaudio
webrtcvad-wheels
playwright
anthropic
ollama
google-genai
PyQt5
psutil
keyring
ffmpeg-python
piper-tts
prompt-toolkit